.vscode/**
.vscode-test/**
.github/**
.claude/**
out/**
test-project/**
node_modules/**
src/**
.gitignore
.yarnrc
.DS_Store
esbuild.js
debug-ast.js
ast-test.php
simple-test.php
test-examples.php
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
